.background{
  overflow: auto;
  background-image: url(../image/pexels-eberhard-grossgasteiger-844297.jpg);
}

* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin-top: 5px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin-left: 100px;
  margin-bottom: 5px;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  margin-left: 100px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: center;
  width: 50%;
}

/* Add padding to container elements */
.container {
  margin-left: 500px;
  padding: 10px;

  width: 500px;
  height: auto;
  background-color: #08b1dbc0;
  color: #f1f1f1;
}

/* Modal Content/Box */
.modal-content {
  overflow: hidden;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 



/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: inline-block;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
.footer-main{
  overflow: hidden;
  background-color: rgba(1, 9, 12, 0);
  display: block;
  text-align: center;
}

